{% extends 'base.html' %}

{% block body %} 

<style>
    .modal {
        color:black;
        width: 600px;
        margin: 0 auto;
    }
    
</style>

<!-- Modal -->
<div class="modal fade" id="videocallPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Video Call</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Someone is calling you
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Reject</button>
          <button type="button" class="btn btn-primary">Accept</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %} 
