{% extends 'base.html' %}

{% block title %} Login {% endblock %} 

{% block body %}

<!-- CSS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1" style="margin: auto auto;">
                    <h3> Register </h3>
                    {% with messages = get_flashed_messages()%}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"> &times; </span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form action="{{url_for('auth.Register')}}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" name="first_name" placeholder="Your First Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="last_name" placeholder="Your Last Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Register" />
                        </div>
                        <div style="margin-bottom: 20px;">
                            <a href="/login" class="btnSubmit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %} 